<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.ApplyoutMapper" >
  <resultMap id="applyoutResultMap" type="Pojo.Applyout" >
    <id column="aoid" property="id" jdbcType="INTEGER" />
    <result column="house_id" property="house_id" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
     <result column="userlist_id" property="userlist_id" jdbcType="INTEGER" />
     <collection property="userlist" ofType="Pojo.Userlist">
			<id property="id" column="id"/>	
		<!--用户id已经在user对象中存在，此处可以不设置-->
			<!-- <result property="userId" column="id"/> -->
			<result property="name" column="name"/>
			<result property="idcard" column="idcard"/>
			<result property="phone" column="phone"/>
			<result property="user_id" column="user_id"/>
			
		</collection>
     
  </resultMap>
  <select id="findbyid" resultType="Pojo.Applyout" parameterType="Integer">
	select * from applyout where aoid=#{aoid}
	</select>
  <select id="findallapplyout" resultMap="applyoutResultMap">
		SELECT
	a.*, u.*
    FROM
	`applyout` a
LEFT JOIN userlist u ON u.id = a.userlist_id

	</select>
  <insert id="insertapplyout" parameterType="Pojo.Applyout">
	  insert into applyout(house_id,address,status,userlist_id) 
	  values(#{house_id},#{address},#{status},#{userlist_id})
	</insert>
	<update id="updateapplyout" parameterType="Pojo.Applyout">
		update applyout set status=#{status}
		where aoid=#{id}
</update>
<update id="updateapplyoutbyhouse" parameterType="Pojo.Applyout">
		update applyout set status=#{status}
		where house_id=#{house_id}
</update>
<delete id="deleteapplyout" parameterType="Integer" >
		delete from applyout where aoid=#{aoid}
	</delete>
  </mapper>