<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.TopaidMapper" >
<resultMap id="BaseResultMap" type="Pojo.Topaid" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="house_id" property="house_id" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="date" property="date" jdbcType="DATE" />
   
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="userlist_id" property="userlist_id" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="inserttopaid" parameterType="Pojo.Topaid">
	  insert into topaid(house_id,address,price,date,status,name,userlist_id) 
	  values(#{house_id},#{address},#{price},#{date},#{status},#{name},#{userlist_id})
	</insert>
	
	<select id="findtopaid" parameterType="Pojo.QueryVo" resultMap="BaseResultMap">
		select * from topaid 
		  <where>
		
		<if test="userlist_id!=null and userlist_id!=''">
		and userlist_id=#{userlist_id}
		</if>
		
		</where>
	</select>
	<select id="findbyid" parameterType="Integer" resultType="Pojo.Topaid">
		select * from topaid 
		  where id=#{id}
	</select>
	<delete id="deletetopaid" parameterType="Integer" >
		delete from topaid  where id=#{id}
	</delete>
</mapper>