<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.UserlistMapper" >
  <resultMap id="applyResultMap" type="Pojo.Userlist" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="idcard" property="idcard" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
     <result column="user_id" property="user_id" jdbcType="INTEGER" />
     <collection property="apply" ofType="Pojo.Apply">
			<id property="id" column="apply_id"/>	
		<!--用户id已经在user对象中存在，此处可以不设置-->
			<!-- <result property="userId" column="id"/> -->
			<result property="house_id" column="house_id"/>
			<result property="address" column="address"/>
			<result property="area" column="area"/>
			<result property="price" column="price"/>
			<result property="status" column="status"/>
		</collection>
     
  </resultMap>
  <resultMap id="zuResultMap" type="Pojo.Userlist" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="idcard" property="idcard" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
     <result column="user_id" property="user_id" jdbcType="INTEGER" />
     <collection property="zulist" ofType="Pojo.Zulist">
			<id property="zid" column="zid"/>	
		<!--用户id已经在user对象中存在，此处可以不设置-->
			<!-- <result property="userId" column="id"/> -->
			<result property="house_id" column="house_id"/>
			<result property="address" column="address"/>
			<result property="contract_id" column="contract_id"/>
			<result property="price" column="price"/>
			<result property="status" column="status"/>
		</collection>
     
  </resultMap>
   <resultMap id="checkoutResultMap" type="Pojo.Userlist" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="idcard" property="idcard" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
     <result column="user_id" property="user_id" jdbcType="INTEGER" />
     <collection property="checkout" ofType="Pojo.Checkout">
			<id property="id" column="cid"/>	
		<!--用户id已经在user对象中存在，此处可以不设置-->
			<!-- <result property="userId" column="id"/> -->
			<result property="house_id" column="house_id"/>
			<result property="address" column="address"/>
			<result property="userlist_id" column="userlist_id"/>
			
			<result property="status" column="status"/>
		</collection>
     
  </resultMap>
     <resultMap id="applyoutResultMap" type="Pojo.Userlist" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="idcard" property="idcard" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
     <result column="user_id" property="user_id" jdbcType="INTEGER" />
     <collection property="applyout" ofType="Pojo.Applyout">
			<id property="id" column="aoid"/>	
		<!--用户id已经在user对象中存在，此处可以不设置-->
			<!-- <result property="userId" column="id"/> -->
			<result property="house_id" column="house_id"/>
			<result property="address" column="address"/>
			<result property="userlist_id" column="userlist_id"/>
			
			<result property="status" column="status"/>
		</collection>
     
  </resultMap>
      <resultMap id="userMap" type="Pojo.Userlist" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="idcard" property="idcard" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
     <result column="user_id" property="user_id" jdbcType="INTEGER" />
     <association property="user" javaType="Pojo.User">
			<!-- column:user表的主键对应的列  property：user对象中id属性-->
			<id column="id" property="id"/>
			<result column="username" property="username"/>
			<result column="password" property="password"/>
		</association>

     
  </resultMap>
  <delete id="deleteuser" parameterType="Integer">
  delete from user where id=#{id}
  </delete>
  <delete id="deleteuserlist" parameterType="Integer">
  delete from userlist where user_id=#{id}
  </delete>
  <select id="findalluserlist" resultMap="userMap">
		SELECT
	u.*, ul.*
FROM
	`user` u
, userlist ul where u.id = ul.user_id and u.type='zuke'
	</select>
 	<select id="findhasuserlist" parameterType="Integer" resultType="Pojo.Userlist">
		select * from userlist where user_id=#{user_id}
	</select>
 	
 	<select id="checkuserlist" parameterType="String" resultType="Pojo.Userlist">
		select * from userlist where idcard=#{idcard}
	</select>
	<insert id="insertuserlist" parameterType="Pojo.Userlist">
	  insert into userlist(name,idcard,phone,user_id) 
	  values(#{name},#{idcard},#{phone},#{user_id})
	</insert>
	<select id="finduserlistupdate" parameterType="Pojo.Userlist" resultType="Pojo.Userlist">
		select * from userlist where idcard=#{idcard} and id!=#{id}
	</select>
	<update id="updateuserlist" parameterType="Pojo.Userlist">
		update userlist set name=#{name},idcard=#{idcard},phone=#{phone}
		where id=#{id}
</update>
 <select id="getUserzuList" resultMap="zuResultMap" parameterType="Integer">
		SELECT
	u.*, z.*
FROM
	`userlist` u
, zulist z where u.id = z.userlist_id and u.id=#{id}
	</select>
	<select id="getmycheckout" resultMap="checkoutResultMap" parameterType="Integer">
		SELECT
	u.*, c.*
FROM
	`userlist` u
, checkout c where u.id = c.userlist_id and u.id=#{id}
	</select>
 <select id="getmyapply" resultMap="applyResultMap" parameterType="Integer">
		SELECT
	u.*, a.*
FROM
	`userlist` u
, apply a where u.id = a.userlist_id and u.id=#{id}
	</select>
	<select id="getmyapplyout" resultMap="applyoutResultMap" parameterType="Integer">
		SELECT
	u.*, a.*
FROM
	`userlist` u
, applyout a where u.id = a.userlist_id and u.id=#{id}
	</select>
</mapper>